In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
schools_data = os.path.join('raw_data','schools_complete.csv')
students_data = os.path.join('raw_data', 'students_complete.csv')

schools_df = pd.read_csv(schools_data)
students_df = pd.read_csv(students_data)

In [3]:
schools_df.head()

   School ID                   name      type  size   budget
0          0      Huang High School  District  2917  1910635
1          1   Figueroa High School  District  2949  1884411
2          2    Shelton High School   Charter  1761  1056600
3          3  Hernandez High School  District  4635  3022020
4          4    Griffin High School   Charter  1468   917500

In [4]:
students_df.head()

,Student ID,name,gender,grade,school,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84

In [5]:
total_schools = len(schools_df['name'].unique())
total_students = len(students_df['Student ID'].unique())
total_budget = schools_df['budget'].sum()
avg_math_score = students_df['math_score'].mean()
avg_read_score = students_df['reading_score'].mean()

In [6]:
#defining pass score as 70+ for math and verbal
pct_pass_read = np.count_nonzero(students_df['reading_score']>=70)/total_students
pct_pass_math = np.count_nonzero(students_df['math_score']>=70)/total_students
overall_pass_rate = (pct_pass_math+pct_pass_read)/2

In [7]:
district_summary = pd.DataFrame({
    "Total Schools": [total_schools],
    "Total Students": [total_students],
    "Total Budget": [total_budget],
    "Average Math Score": [avg_math_score],
    "Average Reading Score": [avg_read_score],
    "Pct Passing Reading":[pct_pass_read],
    "Pct Passing Math": [pct_pass_math],
    "Overall Passing Rate": [overall_pass_rate]
})

In [8]:
district_summary = district_summary.style.format({
    "Total Budget": "${:,}",
    "Average Math Score": "{:.2f}",
    "Average Reading Score": "{:.2f}",
    "Pct Passing Reading":"{:.2%}",
    "Pct Passing Math": "{:.2%}",
    "Overall Passing Rate": "{:.2%}"
})

In [9]:
district_summary